{% extends "layout.html" %}

{% load static %}

{% block page_title %}
    Create Course
{% endblock page_title %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <form action="{% url 'create-course' %}" method="POST" novalidate enctype="multipart/form-data"> 
                    {% csrf_token %}

                    {% include "partials/_form.html" %}
                    <button class="btn btn-success"type="submit">Submit</button>
                </form>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
{% endblock content %}